body {
    background: linear-gradient(90deg, rgb(53, 1, 53), rgb(104, 5, 38), rgb(1, 1, 80));
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 60px;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.09);
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: white;
    position: relative;
    top: 60px;
    justify-content: center;
}

.sidebar .nav-link:hover {
    background: linear-gradient(to right, rgb(214, 13, 90), transparent);
    border-radius: 30px;
}

#l {
    top: 20px;
}

#g {
    top: 400px;
}

.csr {
    width: 50%;
    position: absolute;
    top: 20px;
    right: 400px;
}

h3 {
    background: linear-gradient(45deg, orange, #f50f9d, #4381e6, rgb(85, 235, 85));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    position: absolute;
    top: 19px;
    left: 100px;
    z-index: 3;
    font-family: system-ui;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: arial;
}

#bol {
    animation: dvd 20s ease-in-out infinite;
}

@keyframes dvd {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.jdl {
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    position: relative;
    top: 60px;
    color: white;
}

.lead {
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    padding-top: 95px;
    padding-left: 53px;
    animation: dvd 20s ease-in-out infinite;
}

/*@media (max-width: 480px){
    .sidebar{
        width: 40px;
    }
    .sidebar .nav-link{
        justify-content: center;
    }
    .sidebar .nav-link:hover{
    background: linear-gradient(to right, rgb(214, 13, 90), transparent);
    border-radius: 50px; 
    }
    .csr{
        position: absolute;
        top: 12px;
        left: 50px;
        width: 70%;
    }
}*/
.trans {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    position: relative;

}

.trans::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.trans:focus {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    color: white;

}

#ter {
    color: rgba(255, 255, 255, 0.6);

}

.bns {
    width: 250px;
    height: 60vh;
    position: absolute;
    top: 100px;
    left: 1030px;
    border-radius: 30px;
    display: flex;
    background: radial-gradient(circle at 70% 40%, #ff5e5e 0%, #e23c64 20%, transparent 60%), radial-gradient(circle at 30% 70%, #ffd464 0%, #ff5e5e 40%, transparent 70%), radial-gradient(circle at 50% 50%, #ffffff33 0%, transparent 60%), linear-gradient(135deg, #ffd464, #e23c54 50%, #b0183d), #3a020f;
    background-blend-mode: screen, overlay, normal;
    animation: glow 10s ease-in-out infinite;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

@keyframes glow {
    0% {
        background-position: 30% 30%, 70% 60%, 50% 50%;
    }

    100% {
        background-position: 40% 40%, 60% 70%, 55% 45%;
    }

}

.name {
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    transform: rotate(90deg) translate(-5%);
    transform-origin: left bottom;
    z-index: 1;
}

.name::before {
    content: "";
    position: absolute;
    inset: -20px -180px;
    background: #00000000;
    backdrop-filter: blur(20px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.99) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    z-index: -1;
}

.bns:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.6);
    transform: scale(1.05) translateY(-2px);
}

h4 {
    text-align: center;
    color: white;
    font-weight: 500;
    position: relative;
    top: 70px;
}

.bns img {
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 15px;
    left: 38px;
    top: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.njz {
    width: 900px;
    background: linear-gradient(45deg, orange, #f50f9d, #4381e6, rgb(85, 235, 85));
    height: 60vh;
    justify-content: center;

    position: absolute;
    top: 50px;
    left: 15px;
    border-radius: 30px;
    overflow: hidden;
    margin: 50px;
    margin-left: 100px;
}

.slider {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slider-nav {
    display: flex;
    flex: 0 0 100%;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: 50%;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider-nav a:hover {
    opacity: 1;
}

.njz img {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

#services {
    gap: 20px;
    margin-top: 570px;
    margin-right: 25px;
    margin-bottom: 40px;
    justify-content: center;
}

.sld {
    margin-top: 50px;
}

.kard {
    border: 1px solid #cccccc83;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.kard:hover {
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

#services img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

#den {
    background: linear-gradient(45deg, orange, rgb(230, 230, 3));
    border-radius: 10px;
    padding-bottom: 0px;
}

#kang {
    background: linear-gradient(135deg, rgb(163, 7, 85), rgb(214, 5, 214), rgb(109, 2, 109));
    border-radius: 10px;

}

#kang img {
    object-position: center 5%;
}

#pham {
    background: linear-gradient(96deg, #f48fb1, #f06292, #ec407a, #db0466);
    border-radius: 10px;
}

#kim {
    background: linear-gradient(0deg, #03045e, #046497, #00b4d8, #58d5eb);
    border-radius: 10px;

}

#hie {
    background: linear-gradient(45deg, #11521a, #076653, #5fef26);
    border-radius: 10px;
    padding-bottom: 0px;
}

.player-progres {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
    height: 6px;
    width: 90%;
    position: relative;
    top: 60px;
    right: 19px;
}

.progres {
    background-color: rgb(99, 3, 3);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.music-duration {
    position: relative;
    top: -25px;
    display: flex;

}

#duration {
    margin-left: 143px;
}

.player-controls {
    position: relative;
    top: 30px;
    left: 30px;
    width: 200px;
    margin-top: 10px;
}

#Previous,
#Play,
#Next {
    font-size: 30px;
    color: rgb(99, 3, 3);
    margin-right: 33px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.player-controls:hover {
    filter: brightness(30%);
}

.bi-play-fill {
    font-size: 44px;
    position: relative;
    top: 5px;
    margin-top: 15px;
}

.til {
    color: white;
    text-align: center;
    font-weight: bold;
    z-index: 4;
    position: absolute;
    left: 160px;
    top: 120px;
}

.oui {
    margin-bottom: 300px;
    margin-left: -830px;
    margin-top: 950px;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    animation: scrollingc linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes scrollingc {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.cards {
    transform-style: preserve-3d;
    perspective: 250px;
    justify-content: center;

}

.cards label {
    position: absolute;
    transition: transform 0.55s ease;
}

.vard {
    height: 300px;
    width: 500px;
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
}


input {
    display: none;
}

#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
    transform: translate3d(-45%, 0, -140px);
    --current-color1: #eceaed;
    --currente-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
    transform: translate3d(-25%, -10px, -90px);
    --current-color1: #eceaed;
    --currente-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 50%);
    transform: translate3d(0, -30px, 0);
    --current-color1: #fad00c;
    --currente-color2: #eceaed;
}


#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 50%);
    transform: translate3d(50%, -10px, -70px);
    --current-color1: #eceaed;
    --currente-color2: #404457;
}


#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
    transform: translate3d(85%, 0, -110px);
    --current-color1: #eceaed;
    --currente-color2: #404457;
}

#han {
    overflow: hidden;
}

#han::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at 70% 40%, #ff5e5e 0%, #e23c64 20%, transparent 60%), radial-gradient(circle at 30% 70%, #ffd464 0%, #ff5e5e 40%, transparent 70%), radial-gradient(circle at 50% 50%, #ffffff33 0%, transparent 60%), linear-gradient(135deg, #ffd464, #e23c54 50%, #b0183d), #3a020f;
    background-size: 200% 200%;
    animation: moveGradient 10s ease-in-out infinite alternate;
    z-index: 1;
}

#han::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at 70% 40%, cyan 0%, #03045e 20%, transparent 60%), radial-gradient(circle at 30% 70%, #00ffcc 0%, #00178f 40%, transparent 70%), radial-gradient(circle at 50% 50%, #ffffff33 0%, transparent 60%), linear-gradient(135deg, #00e2e0, #0ecc5d 50%, #63e5c5), #00178f;
    background-size: 200% 200%;
    opacity: 0;
    animation: moveGradient 10s ease-in-out infinite alternate, themeCycle1 30s ease-in-out infinite;
    z-index: 2;
}

#han .nen {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at 70% 40%, #f0ff03 0%, #23f769 20%, transparent 60%), radial-gradient(circle at 30% 70%, #fef500 0%, #18c729 40%, transparent 70%), radial-gradient(circle at 50% 50%, #ffffff33 0%, transparent 60%), linear-gradient(135deg, #ffff33, #9ccd2a 50%, #065721), #024914;
    background-size: 200% 200%;
    opacity: 0;
    animation: moveGradient 10s ease-in-out infinite alternate, themeCycle2 30s ease-in-out infinite;
    z-index: 3;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

@keyframes themeCycle1 {

    0%,
    25% {
        opacity: 0;
    }

    30%,
    60% {
        opacity: 1;
    }

    95%,
    100% {
        opacity: 0;
    }
}

@keyframes themeCycle2 {

    0%,
    55% {
        opacity: 0;
    }

    60%,
    90% {
        opacity: 1;
    }

    95%,
    100% {
        opacity: 0;
    }
}

.ditt {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.bub {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.aow {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.ita {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.sobita {
    height: 900px;
    top: 1300px;
    position: absolute;
    margin-bottom: 150px;
    justify-content: center;
}

#eks {
    font-weight: 50;
    font-family: sans-serif;
}

.ytile {
    align-items: center;
    position: relative;
    left: 30px;
    font-size: 100px;
    animation: scrolling linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    padding-top: 0px;
}

.gf {
    display: block;
    position: absolute;
    gap: 10px;
    left: 100px;
    margin-top: 40px;

}

@keyframes scrolling {
    from {
        opacity: 0;
        transform: translateY(80px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.ph {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 10px;
    position: relative;
    animation: scrol linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ph:hover {
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

@keyframes scrol {
    from {
        opacity: 0;
        transform: translatex(200px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}